<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Website</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <nav>
    <div class="container main-nav flex">
      <a href="#" ><h1 class="logo">Daily Blog</h1></a>
      <div class="nav-links" id="nav-links">
        <ul class="flex">
          <li><a href="/" class="hover-links">Home</a></li>
          <li><a href="/compose" class="hover-links">Compose</a></li>
          <li><a href="/about" class="hover-links">About Us</a></li>
          <li><a href="/contact" class="hover-links">Contact Us</a></li>
        </ul>
      </div>
      <a href="#" class="nav-toggle hover-links" id="nav-toggle">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>

  </nav>

  <div class="blogs-card"></div>


